.image{
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin: 20px 30px 0 0;  
    height: 500px;

}

.main-film-container{
    padding: 20px 40px 40px;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
   
}
.description{
    display: inline-block;
    width: 46%;
    @media (max-width: 620px) {
    width: 100%;
}}
.home-page{
    color: rgb(211, 211, 248);
    text-decoration: none;
}

a:hover {
    color: #43c6de;
}
